
<div class="container shadow p-3 mb-5 bg-white " style="margin-top: 10px">
  <h3>Adicionar Funcionário</h3>

<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Primeiro Nome</label>
      <input type="email" class="form-control formulario" id="inputEmail4" placeholder="Primeiro Nome">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Último Nome</label>
      <input type="password" class="form-control formulario" id="inputPassword4" placeholder="Último Nome">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Telefone</label>
      <input type="email" class="form-control formulario" id="inputEmail4" placeholder="Telefone">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Correio Eletrónico</label>
      <input type="password" class="form-control formulario" id="inputPassword4" placeholder="E-mail">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Data de Nascimento</label>
      <input type="date" class="form-control formulario" id="inputEmail4">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Bilhete de Identidade</label>
      <input type="password" class="form-control formulario" id="inputPassword4" placeholder="0001234564BA038">
    </div>
  </div>

  <div class="form-row">
  <div class="form-group col-md-6">
    <label for="inputAddress">Rua</label>
    <input type="text" class="form-control formulario" id="inputAddress" placeholder="Rua do Quiquombo ">
  </div>
  <div class="form-group col-md-3">
    <label for="inputAddress">Prédio/Casa</label>
    <input type="text" class="form-control formulario" id="inputAddress" placeholder="45 Apt 3ESQ">
  </div>
  <div class="form-group col-md-3">
    <label for="inputAddress">Bairro</label>
    <input type="text" class="form-control formulario" id="inputAddress" placeholder="Miramar">
  </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputAddress">Província</label>
      <select class="custom-select custom-select-md formulario">
        <option selected>Escolha a província</option>

      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="inputAddress">Municipio</label>
      <select class="custom-select custom-select-md formulario">
        <option selected>Escolha o Municipio</option>

      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="inputAddress">Distrito</label>
      <select class="custom-select custom-select-md formulario">
        <option selected>Escolha o Distrito</option>

      </select>
    </div>
    </div>
    <div class="container">
      <button type="button" class="btn btn-primary">Salvar</button>
      <button type="button" class="btn btn-danger" style="margin-left: 4px">Cancelar</button>
    </div>

</form>

</div>

