<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
        <mat-toolbar  style="background: turquoise; color: white">Menu</mat-toolbar>
        <mat-nav-list class="container">
            <a mat-list-item [routerLink]="['/']"><mat-icon style="color:blue">dashboard </mat-icon>Painel </a>
            <a mat-list-item [routerLink]="['/financas']"><mat-icon style="color: blue">account_balance </mat-icon>Finanças</a>
            <a mat-list-item [routerLink]="['/vendas']"><mat-icon style="color:blue">store </mat-icon>Vendas</a>
            <a mat-list-item [routerLink]="['/gastos']"> <mat-icon style="color:blue">local_atm </mat-icon> Gastos</a>
            <a mat-list-item [routerLink]="['/orcamentos']"> <mat-icon style="color:blue">attach_money</mat-icon>Orçamentos</a>
            <a mat-list-item href="#"><mat-icon style="color:blue">face </mat-icon>Funcionários</a>
            <a mat-list-item [routerLink]="['/faturas']"><mat-icon style="color:blue">receipt</mat-icon>Relatórios</a>



            <br>



            <a mat-list-item [routerLink]="['/pagamentos']"><mat-icon style="color:purple">credit_card</mat-icon>Impostos</a>
             <br> <br><mat-divider></mat-divider>
             <a mat-list-item [routerLink]="['/configuracoes']"><mat-icon style="color:purple">settings</mat-icon>Configurações</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar style="background:turquoise; color: white">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
            <span>HR TECH</span>  <button mat-mini-fab style="position: absolute; right: 10px; color: rgb(255, 255, 255); background: turquoise"
            >
                <mat-icon class="mat-18">add</mat-icon>
            </button>
        </mat-toolbar>
        <!-- Add Content Here -->
        <router-outlet></router-outlet>

    </mat-sidenav-content>

