<div id="invoice">

  <div class="toolbar hidden-print">
      <div class="text-right">
          <button id="printInvoice" class="btn btn-info"><i class="fa fa-print"></i> Imprimir</button>
          <button class="btn btn-info"><i class="fa fa-file-pdf-o"></i> Exportar como PDF</button>
      </div>
      <hr>
  </div>
  <div class="invoice overflow-auto">
      <div style="min-width: 600px">
          <header>
              <div class="row">
                  <div class="col">
                      <a target="_blank" href="https://lobianijs.com">
                          <img src="http://lobianijs.com/lobiadmin/version/1.0/ajax/img/logo/lobiadmin-logo-text-64.png" data-holder-rendered="true" />
                          </a>
                  </div>
                  <div class="col company-details">
                      <h2 class="name">
                          <a target="_blank" href="https://lobianijs.com">
                          Gesprin Estudos e Projectos
                          </a>
                      </h2>
                      <div>Urbanização Nova Vida Kilamba Kiaxi, Luanda, Angola</div>
                      <div>+244 923402421</div>
                      <div>info@gesprin.co.ao</div>
                  </div>
              </div>
          </header>
          <main>
              <div class="row contacts">
                  <div class="col invoice-to">
                      <div class="text-gray-light">FATURAR A:</div>
                      <h2 class="to">Ariclenes Matias</h2>
                      <div class="address">Urbanização Nova Vida Kilamba Kiaxi, Luanda, Angola</div>
                      <div class="email"><a href="mailto:john@example.com">amatias@gesprin.co.ao</a></div>
                  </div>
                  <div class="col invoice-details">
                      <h1 class="invoice-id">Fatura Nº 256/2019</h1>
                      <div class="date">Data da fatura: 25/01/2019</div>
                      <div class="date">Prazo de pagamento: 30/01/2019</div>
                  </div>
              </div>
              <table border="0" cellspacing="0" cellpadding="0">
                  <thead>
                      <tr>
                          <th>#</th>
                          <th class="text-left">DESCRIÇÃO</th>
                          <th class="text-right">PREÇO</th>
                          <th class="text-right">QUANTIDADE</th>
                          <th class="text-right">TOTAL</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td class="no">04</td>
                          <td class="text-left"><h3>
                              <a target="_blank" href="https://www.youtube.com/channel/UC_UMEcP_kF0z4E6KbxCpV1w">
                              Água Mineral Pura
                              </a>
                              </h3>
                             <a target="_blank" href="https://www.youtube.com/channel/UC_UMEcP_kF0z4E6KbxCpV1w">
                                 Uma das melhores águas
                             </a>
                             mantenha-se hidratado
                          </td>
                          <td class="unit">AOA 250.00</td>
                          <td class="qty">2</td>
                          <td class="total">AOA 500.00</td>
                      </tr>
                      <tr>
                          <td class="no">01</td>
                          <td class="text-left"><h3>Bolo de Chocolate</h3> delicioso e ao mesmo tempo saboroso</td>
                          <td class="unit">AOA 750</td>
                          <td class="qty">3</td>
                          <td class="total">AOA 1250</td>
                      </tr>
                      <tr>
                          <td class="no">02</td>
                          <td class="text-left"><h3>Café Expresso</h3> Uma bica sabe sempre bem</td>
                          <td class="unit">AOA 200</td>
                          <td class="qty">1</td>
                          <td class="total">AOA 200</td>
                      </tr>
                      <tr>
                          <td class="no">03</td>
                          <td class="text-left"><h3>Omolete Mista</h3> Os ovos são a fonte da vida</td>
                          <td class="unit">AOA 750</td>
                          <td class="qty">1</td>
                          <td class="total">AOA 750</td>
                      </tr>
                  </tbody>
                  <tfoot>
                      <tr>
                          <td colspan="2"></td>
                          <td colspan="2">SUBTOTAL</td>
                          <td>AOA 2368</td>
                      </tr>
                      <tr>
                          <td colspan="2"></td>
                          <td colspan="2">IVA</td>
                          <td>AOA 332</td>
                      </tr>
                      <tr>
                          <td colspan="2"></td>
                          <td colspan="2"> TOTAL</td>
                          <td>AOA 2700</td>
                      </tr>
                  </tfoot>
              </table>
              <div class="thanks">Obrigado!</div>
              <div class="notices">
                  <div>AVISO:</div>
                  <div class="notice">O IVA foi incluido no preço dos artigos.</div>
              </div>
          </main>
          <footer>
              Fatura gerada por computador, pelo que ao abrigo do artigo sei la das quantas dispensa selo.
          </footer>
      </div>
      <!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
      <div></div>
  </div>
</div>
