<div class="container"><label>Cliente:</label>
<select class="form-control" [(ngModel)]="pagamento.clienteId" (change)="onSelect($event.target.value)">
<option value="0">--Escolher Cliente--</option>
<option *ngFor="let cliente of clientes" value={{cliente.clienteId}}>{{cliente.primeiro_nome}}</option>
</select>
<br /><br />
<div>
    <label>Faturas:</label>
    <select class="form-control"[(ngModel)] = "pagamento.faturaId">
<option *ngIf='clienteselecionado.clienteId == null' value="0">--Escolher Fatura--</option>
<option *ngFor="let fatura of faturas " value={{fatura.faturaId}}>{{fatura.faturaId}}</option>
</select>
</div>

</div>
